<center class="content"><%= image_tag("GoogleImage.png", size: "269x95", :alt => "Google") %>
<br>
<form>
	<fieldset>
<table>
	<tr>
		<td id="tdl"><input type="text"></input></td>
		<td id="tdrb"><span id="speech"><img src="/assets/speechicon.gif" height="20px" width="15px" id="sb"/></span></td>
	</tr>
</table> 

</fieldset>
</form>
<br>
<button class="Clicks" id="leftB">Google Search</button>
<button class="Clicks" id="rightB">I'm Feeling Lucky</button>
<div style="height: 102px"></div>
</center>

<div class="footer">
	<div class="leftfoot">
		<ul>
			<li><a href="https://www.google.com/intl/en/ads/?fg=1">Advertising</a></li>
			<li><a href="https://www.google.com/services/?fg=1">Business</a></li>
			<li><a href="https://www.google.com/intl/en/about.html?fg=1">About</a></li>
		</ul>
	</div>
	<div class="rightfoot">
		<ul>
			<li><a href="https://www.google.com/intl/en/policies/?fg=1" id="pat">Privacy & Terms</a></li>
			<li><a href="https://www.google.com/preferences?hl=en">Settings</a></li>
		</ul>
	</div>
</div>